.main-container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-side {
  background-color: rgb(26 146 211);
  color: white;
  grid-column-start: 1;
}

.right-side {
  border: 2px solid blue;
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 15% 90%;
}

.sidebar-container {
  display: grid;
  grid-template-columns: 10% 90%;
}

.side-icon-list {
  grid-column-start: 1;
}

.svg-icon {
  fill: white;
}

.sidebar-list {
  grid-column-start: 2;
}

.header-container {
  border: 2px solid green;
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 50% 50%;
}

.header-1 {
  grid-row-start: 1;
}

.header-2 {
  display: flex;
  grid-row-start: 2;
}

button {
  background-color: rgb(26 146 211);
  border: none;
  color: white;
  width: 100px;
  border-radius: 20px;
}

.content-container {
  background-color: rgb(226 232 240);
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 80% 20%;
}

.content-projects {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.content-sidebar {
  grid-column-start: 2;
}
