* {
  font-family: "Roboto", sans-serif
}

p {
  font-weight: bold;
}

.main-container {
  height: 700px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.left-side {
  background-color: rgb(26 146 211);
  color: white;
  grid-column-start: 1;
}

.right-side {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 15% 90%;
}

.sidebar-container {
  display: grid;
  grid-template-columns: 10% 90%;
}

.side-icon-list {
  grid-column-start: 1;
}

.svg-icon {
  fill: white;
}

.sidebar-list {
  grid-column-start: 2;
}

.header-container {
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 50% 50%;
}

.header-1 {
  grid-row-start: 1;
  display: flex;
  align-items: center;
}

.header-2 {
  display: flex;
  align-items: center;
  grid-row-start: 2;
}

.search-area {
  margin-left: 35px;
  display: flex;
}

#search-icon {
  margin-right: 15px;
  margin-top: 2px;
  height: 25px;
}

#search-bar {
  width: 500px;
  height: 30px;
  background-color: rgb(226 232 240);
  border-radius: 20px;
  border: none;
}

.button-container {
  margin-left: 500px;
}

button {
  background-color: rgb(26 146 211);
  border: none;
  color: white;
  width: 100px;
  height: 35px;
  margin-right: 20px;
  border-radius: 20px;
  font-weight: bold;
}

.content-container {
  background-color: rgb(226 232 240);
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 80% 20%;
}

.content-projects {
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.project-card {
  width: 320px;
  height: 130px;
  background-color: white;
  border-left: 5px solid rgb(240 180 42);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.content-sidebar {
  grid-column-start: 2;
}

.announcements-container {
  background-color: white;
  height: 250px;
  width: 225px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}


.trending-container {
  background-color: white;
  height: 250px;
  width: 225px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}
